<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<!DOCTYPE html>
<html lang="en">
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- MODIFYYYY -->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">A Job tool that gets you the job you deserve.</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Input your information to generate a resumé or find a job!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-outline-light btn-lg px-4" href="/discover">Find a Job</a>
                                    <a class="btn btn-secondary btn-lg px-4" href="/info">Generate a resumé</a>
                                    <a class="btn btn-info btn-lg" href="#about">About us</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://i.ibb.co/924g963/NewJR.png" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- About page -->
            <section class="py-5" id="description">
                <div class="container" style="padding-top: 60px;">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card bg-dark">
                          <div class="card-body">
                            <h5 class="card-title">App Description</h5>
                            <p class="card-text">JobRanger both helps you build your resumé and land that job you always wanted. Our app uses templates approved by professionals and provides the hottest jobs!</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card bg-dark">
                          <div class="card-body">
                            <h5 class="card-title">Interesting things you can put in your resumé:</h5>
                            <ul class="list-group list-group-flush">
                                <li>Interests</li>
                                <li>Experiences</li>
                                <li>Languages spoken</li>
                                <li>Past work experiences</li>
                                <li>Personal Information (Date of birth, country of origin)</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
            <section class="py-5" id="disclaimer">
                <div class="container" style="padding-top: 60px;">
                    <div class="row">
                      <div class="col-md">
                        <div class="card bg-dark">
                          <div class="card-body">
                            <h5 class="card-title">Privacy Disclaimer:</h5>
                            <p class="card-text">We at JobRanger believe in your privacy and are committed to protecting your personal information. We will not share your personal information with anybody.</p>
                            <p>We believe in user transparency, so here is the information we collect:</p>
                            <ul class="list-group list-group-flush">
                                <li>Name and Last Name</li>
                                <li>Date of Birth</li>
                                <li>City</li>
                                <li>Education</li>
                                <li>Miscellanous information (skills, languages spoken, etc).</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                </div>
            </section>
            <section class="py-5" id="about">
                <h1 style="text-align: center;">What's our deal?</h1>
                <div class="container" style="padding-top: 60px;">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card bg-dark">
                          <div class="card-body">
                            <h5 class="card-title">Our Objective</h5>
                            <p class="card-text">JobRanger is a powerful tool for those looking to create impressive resumes and find relevant job opportunities. We want to empower users to present their skills and experiences and connect them with the perfect match for their personalities. We offer a range of customizable templates, tips for crafting effective resumes, and intuitive tools for adding all of your qualifications!</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card bg-dark">
                          <div class="card-body">
                            <h5 class="card-title">Vision Statement</h5>
                            <p class="card-text">Our project is going to be marketed towards people who are currently searching for jobs. The JobRanger application is a website that will automatically generate resumes and pull job listings based on criteria set by the user. The application hopes to help users efficiently create competitive resumes and streamline them directly to employers all within one platform.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>