<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <%if(data) console.log(data); %>


                <h1>Add Info</h1>
                <form action="/info/addGeneral" method="POST">
                    <h2>General</h2>

                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" class="form-control" required />

                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" class="form-control" required />

                    <label for="dob">Birthday</label>
                    <input type="date" id="dob" name="dob" class="form-control" />

                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" required />

                    <label for="linkedin">LinkedIn</label>
                    <input type="text" id="linkedin" name="linkedin" class="form-control" />

                    <label for="github">GitHub</label>
                    <input type="text" id="github" name="github" class="form-control" />

                    <hr>

                    <p>
                        <input type="submit" value="Add Info" class="btn btn-primary" style="float:right;" />
                    </p>
                </form>

                <br>

                <form action="/info/addEducation" method="POST" id="education">
                    <h2>Education</h2>

                    <label for="school">School</label>
                    <input type="text" id="school" name="school" class="form-control" required />

                    <label for="degree">Degree</label>
                    <input type="text" id="degree" name="degree" class="form-control" required />

                    <label for="focus">Focus</label>
                    <input type="text" id="focus" name="focus" class="form-control" />

                    <label for="startdate">Start Date</label>
                    <input type="date" id="startdate" name="startdate" class="form-control" required />

                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" required />

                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" class="form-control" required />

                    <hr>

                    <p>
                        <input type="submit" value="Add Info" class="btn btn-primary" style="float:right;" />
                    </p>
                </form>

                <br>

                <form action="/info/addExperience" method="POST" id = "experience">
                    <h2>Experiences</h2>

                    <label for="organization">Organization</label>
                    <input type="text" id="organization" name="organization" class="form-control" required />

                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" required />

                    <label for="startdate">Start Date</label>
                    <input type="date" id="startdate" name="startdate" class="form-control" required />

                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" required />

                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" class="form-control" required />

                    <hr>

                    <p>
                        <input type="submit" value="Add Info" class="btn btn-primary" style="float:right;" />
                    </p>
                </form>

                <br>

                <form action="/info/addSkill" method="POST" id="skills">
                    <h2>Skills</h2>

                    <label for="skill">Skill</label>
                    <input type="text" id="skill" name="skill" class="form-control" required />

                    <hr>

                    <p>
                        <input type="submit" value="Add Info" class="btn btn-primary" style="float:right;" />
                    </p>
                </form>

                <br>

                <form action="/info/addLanguage" method="POST" id="languages">
                    <h2>Languages</h2>

                    <label for="language">Language</label>
                    <input type="text" id="language" name="language" class="form-control" required />

                    <label for="proficiency">Proficiency</label>
                    <input type="text" id="proficiency" name="proficiency" class="form-control" required />

                    <hr>

                    <p>
                        <input type="submit" value="Add Info" class="btn btn-primary" style="float:right;" />
                    </p>
                </form>

                <br>

                <form action="/info/addLocation" method="POST" id="locations">
                    <h2>Location</h2>

                    <label for="country">Country</label>
                    <input type="text" id="country" name="country" class="form-control" required />

                    <label for="city">City</label>
                    <input type="text" id="city" name="city" class="form-control" required />

                    <hr>

                    <p>
                        <input type="submit" value="Add Info" class="btn btn-primary" style="float:right;" />
                    </p>
                </form>
            </div>
        </main>